[package]
name = "lambda-otel-relay"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["rt-multi-thread", "net", "sync", "time", "macros", "io-util"] }
reqwest = { version = "0.13", default-features = false, features = ["rustls-no-provider", "http2", "gzip"] }
rustls = { version = "0.23", default-features = false, features = ["std", "ring", "tls12"]}
nanoserde = { version = "0.2", features = ["std", "json"] }
thiserror = "2.0.18"
tokio-util = { version = "0.7", features = ["rt"] }
bytes = "1"
hyper = { version = "1", features = ["http1", "http2", "server"] }
hyper-util = { version = "0.1", features = ["tokio", "server-auto"] }
http-body-util = "0.1"
url = "2"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["json"] }

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"

[dev-dependencies]
testcontainers = "0.27"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
reqwest = { version = "0.13", default-features = false, features = ["rustls-no-provider"] }
rustls = { version = "0.23", default-features = false, features = ["std", "ring", "tls12"] }
